---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{% if site.draft %}# Not launched. CONTENT.md holds the launch gate.{% else %}# nadiasrana.github.io{% endif %}
User-agent: *
{% if site.draft %}Disallow: /{% else %}Allow: /
Sitemap: {{ site.url }}/sitemap.xml{% endif %}
